---
type:   archive
layout: default
image:  header-fossil.jpg
---

{% if page.title == 'Archive' %}
  {% include archive_index.html %}
{% endif %}

{% if page.tag and content != '' %}
  <article title="{{ page.title }}">
      <div class="content" style="position: relative; left: 0px;">
          {{ content }}

          <h2>Blogposts about {{ page.title }}:</h2>
      </div>
  </article>
{% endif %}

{% unless page.title == 'Archive' %}
    <ul>
        {% if page.month %}
            {% include archive_month.html %}
        {% elsif page.year %}
            {% include archive_year.html %}
        {% elsif page.tag %}
            {% include archive_tag.html %}
        {% endif %}
    </ul>
{% endunless %}
