{% include header.html %}

{% if page.gradient and page.gradient > 0 and page.gradient < 6 %}
	{% assign gradient = page.gradient %}
{% else %}
	{% assign gradient = 1 %}
{% endif %}

<section class="content">

	<article>

		<header class="gradient-{{ gradient }}" data-animation="fadeInDownBig">
      {% include excerpt.html %}
		</header>

		<div class="body" data-animation="fadeInUp">
      {% for post in site.categories[page.category] %}
          <div>{{ post.date | date_to_html_string }}</div>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <div class="categories">Filed under {{ post.categories | category_links }}</div>
      {% endfor %}



	<a href="#" title="Scroll" class="scroll">Scroll</a>
